* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background: linear-gradient(90deg, #383838 0%, #000000 81.25%);
}

.box {
    background: #ffffff;
    width: 541px;
    height: 498px;
    border-radius: 5px;
    margin: 150px auto 0 auto;
    padding: 30px 20px;
}

input {
    width: 342px;
    height: 40px;
    border: 2px solid rgba(209, 211, 212, 0.4);
    border-radius: 5px;
    padding-left: 20px;
}

input:focus {
    border-color: #8052ec;
}

button {
    background: #8052ec;
    border-radius: 5px;
    border: none;
    height: 40px;
    padding: 0 15px;
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;
    float: right;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

.tasks {
    width: 100%;
    list-style: none;
    margin-top: 60px;
}

.to-do-items {
    background: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px 45px;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.rocket-button {
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fa-rocket {
    color: #4f0fc5;
}

.to-do-items:hover .rocket-button {
    opacity: 1;
}

.task-name {
    color: #000000;
    font-size: 15px;
    line-height: 18px;
}

.trash-can-button {
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fa-trash {
    color: #ff0000;
}

.to-do-items:hover .trash-can-button {
    opacity: 1;
}